<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="page_wrapper">
        <aside class="sidebar">
            <div class="sidebar_brand">
                <img src="" alt="">
                <span class="brand_name">Company Name</span>
            </div>
            <ul class="sidebar_menu">
                <li><a href="/views/dashboard/dashboard.html" >Dashboard</a></li>
                    <li><a href="/views/group/table_group.html" class="active">Table Group</a></li>
                    <li><a href="/views/coa/table_Coa.html">Table COA</a></li>
                    <li><a href="/views/journal/table_Journal.html">Table Journal</a></li>
                    <li><a href="/views/buku_besar/buku_besar.html">Buku Besar</a></li>
            </ul>
                
            <div class="sidebar_footer">
                <a href="#"><i class="fa-solid fa-gear"></i>Settings</a>
                <a href="#"><i class="fa-solid fa-circle-question"></i>Help</a>
                <a href="#" id="logoutBtn"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a>
            </div>
        </aside>

        <div class="main_content">
            <div class="show_filter">
                <p class="dashboard_title">Table Of Group<a href="/views/group/table_group.html" class="fa-solid fa-arrows-rotate"></a></p>
        </div>
        <div class="table_container">
                <h3><a class="fa-solid fa-square-plus" href="/views/group/add_group.html"></a></h3>
                <div>
                    <table id="productTable">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Group</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

    

    </div>



    

            

        

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/views/group/table_group.js"></script>
</body>
</html>